NODE_ENV=development
# This defaults to localhost in development regardless of the value set in this file
DEFAULT_RPC=https://rpc-df.xdaichain.com/
# Removing this value will disable all webserver calls in the client
DF_WEBSERVER_URL=http://localhost:3000
