body {
	background: #1f1f1f !important;
	font-family: 'IBM Plex Mono, Inconsolata, monospace' !important;
}

.row {
	display: flex;
}

.col {
	display: flex;
	flex-direction: column;
}

.w-100 {
	width: 100%;
}